*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap ;
    margin: 3px;
    background-color: #d1e4f7;
}



footer{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 70px;
    background-color: #50524c;
    margin: 0;
}

footer > p {
    margin: auto;
    color: aliceblue;
    font-size: 16px;
    
}

header{
    flex: 1 1 100vw;
    height: 200px;
    width: 100%;
    
}

.imagem-banner{
    width: 100%;
    height: 200px;
    margin: auto;
}

.botão{
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #256df1;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: #000;
}

body, button{
    justify-content: center;
    
}
img{
    width: 800px;
    margin: 20px;
}

.container{
    display: flex;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.item-1{
    display: flex;
    width: 950px;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    
   
}

.item-2{
    display: flex;
    width: 950px;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}



p{
    font-size: 16px;
    line-height: 1.2;
}